* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.slider-container {
    position: relative;
    width: 100%;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slide {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    display: block;
}

.text{
    position: absolute;
    top: 186px;
    left: 180px;
    height: 700px;
    width: 620px;
    padding: 65px 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #fff;
    border-radius: 4px;
}

.text h2 {
    font-size: 50px;
}

.text p {
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;

}

.text a {
    font-size: 30px;
    font-weight: 700;
    color: #C50000;

}

.buttons {
    padding: 0 70px;
    position: absolute;
    top: 50%;
    width: 100%;

    display: flex;
    justify-content: space-between;

}

.buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.disabled {
    opacity: 50%;
}
