html {
    background-color: #ccc;
}

/* 1 em = 16px */
/* Quando determinamos o em é baseado na propriedade acima e seta o seu tamaho. */

body {
    background-color: blueviolet;
    width: 50%;
    font-size: 3em;
}

.pai {
    background-color: #ea80fc;
    width: 50%;
    font-size: 1.5em;
}

.filha {
    background-color: #1de9b6;
    width: 50%;
    font-size: 3em;
}

/* Já o Rem olha para para o elemento raíz sempre. No caso aqui é o html então vai só fazer a relação com o primeiro elemento setado com fonte (no caso) */