.container {
    display: flex;
    flex-direction: row;
}

.container div {
    background-color: aqua;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
}


/* Wrap */

.container.wrap{
    flex-wrap: wrap;
}


/* Flow */

.container.flow{
    flex-flow: column wrap;
}
