.first-letter::first-letter{
    color: coral;
}

.first-line::first-line {
    color: coral;
}

li::marker {
    color: red;
    font-size: 30px;
}

.before::before {
    content: "";
    background: url(logo.png) center center no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.after::after{
    content: url(logo.png);
}