* {
    margin: 0;
    padding: 0;
}

ul {
    /* list-style-image: url('./images/icon.png'); */

    background-color: aqua;
    list-style: square inside url('./images/icon.png');
    /* Nesse caso quando a imagem não abre por algum motivo ele esolhe o square */
    /* O inside serve para englobar os bullets na estilização. Se retiro os bullets ficam de fora. Posso usar também com a propriedade
    list-style-position: inside;
    
    */
}

ul li {
    border: 1px solid black;
    padding: 20px;
}


ol {
    /* list-style-image: url('./images/icon.png'); */

    background-color: orange;
    list-style: square inside url('./images/icon.png');
    /* Nesse caso quando a imagem não abre por algum motivo ele esolhe o square */
    /* O inside serve para englobar os bullets na estilização. Se retiro os bullets ficam de fora. Posso usar também com a propriedade
    list-style-position: inside;
    
    */
}

ol li {
    border: 1px solid black;
    padding: 20px;
}